<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alchoolomp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body style="background-color: #0E86CA">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color: #002650;box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;">
            <div class="container">
                <a class="navbar-brand logo" asp-area="" asp-page=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 row">
                        <li class="nav-item col-2">
                            <a class="nav-link topnav buttonsMoi" href = "@Url.Content("~/")"></a>
                        </li>
                        <li class="nav-item col-2">
                            <a class="nav-link topnav buttonsMoi" href = "@Url.Content("~/Tournaments")">Турниры</a>
                        </li>
                        <li class="nav-item col-2">
                            <a class="nav-link topnav buttonsMoi" href = "@Url.Content("~/Records")" >Рекорды</a>
                        </li>
                        <li class="nav-item col-3">
                            <a class="nav-link topnav buttonsMoi" asp-area="" asp-page="/HPersons">Дисциплины</a>
                        </li>
                        <li class="nav-item col-2">
                            <a class="nav-link topnav buttonsMoi"></a>
                        </li>
                        <li class="nav-item col-1">
                            <a class="nav-link topnav buttonsMoi" href="@Url.Content("~/Account/Login")">Вход</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

        <div class="container bg">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <div class="navbar bottom " style="background-color: #0E86CA;box-shadow:   0px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;">
            <footer class="container">
                <div class="row align-items-center container">
                    <div class="col-lg-4 buttonsMoi">О нас</div>
                    <div class="col-lg-4 buttonsMoi">Контакты</div>
                    <div class="col-lg-4 buttonsMoi">Поддержка</div>

                    <div class="col-lg-2 textcontent">ВК</div>
                    <div class="col-lg-2 textcontent"></div>
                    <div class="col-lg-2 textcontent">ВК</div>
                    <div class="col-lg-2 textcontent"></div>
                    <div class="col-lg-2 textcontent">MAIL</div>
                    <div class="col-lg-2 textcontent"></div>

                    <div class="col-lg-2 textcontent">Instagram</div>
                    <div class="col-lg-2 textcontent"></div>
                    <div class="col-lg-2 textcontent">GMAIL</div>
                    <div class="col-lg-2 textcontent"></div>
                    <div class="col-lg-2 textcontent">Правила</div>
                    <div class="col-lg-2 textcontent"></div>


                </div>
            </footer>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>
