@model BRD_Sport_Sem.Models.ViewModel.ProfileViewModel
<div id="Prof">
    <form action="https://localhost:5001/Account/@Model.UserId/Image" method="post">
        <p><img src="https://localhost:5001/Account/@Model.UserId/Image" /></p>
    </form>  
    <p>Имя: @Model.Name</p>
    <p>Фамилия: @Model.Surname</p>
    <p>Почта: @Model.Email</p>
    <a href = "@Url.Content("~/Account/Profile/" + Model.UserId + "/ProfileEdit")">Редактировать</a>
    <a href = "@Url.Content("~/Logout")">Выйти</a>
</div>