@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center" style="color: white">
    <h1 class="display-4">Список Дисциплин</h1>
    <ul id="artlist">
        <li><a class="nav-link topnav buttonsMoi" href="@Url.Content("~/DisciplinesList/Literball")">Литрбол</a></li>
        <li><a class="nav-link topnav buttonsMoi" href="@Url.Content("~/DisciplinesList/AlcoChess")">Алкошахматы</a></li>
        <li><a class="nav-link topnav buttonsMoi" href="@Url.Content("~/DisciplinesList/BeerPong")">Бирпонг</a></li>
        <li><a class="nav-link topnav buttonsMoi" href="@Url.Content("~/DisciplinesList/BeerMarathon")">Пивмарафон</a></li>
        <li><a class="nav-link topnav buttonsMoi" href="@Url.Content("~/DisciplinesList/BeerMile")">Пивная Миля</a></li>
        <li><a class="nav-link topnav buttonsMoi" href="@Url.Content("~/DisciplinesList/HundredLiters")">Столитровка</a></li>
        <li><a class="nav-link topnav buttonsMoi" href="@Url.Content("~/DisciplinesList/WomenGlue")">Бабсклей</a></li>
    </ul>
</div>